<br>
<nav class="menu">
    <a href="/cadastrarCamisa">Cadastrar Camisa</a>&emsp;
    <a href="/listarCamisa">Listar Camisa</a>&emsp;
    <a href="/editarCamisa">Editar Camisa</a>&emsp;
    <a href="/excluirCamisa">Excluir Camisa</a>
</nav>
<br>
<h2>Consulta do produto atual</h2>
<form action="/consultaCamisa" method="post">
    <label for="nome">Nome da Camisa:</label><br>
    <input type="text" name="nome" placeholder="nome da camisa"><br>
    <br>
    <button type="submit">Enviar</button>
</form>
<br>
<table>
    <thead>
        <th>Nome</th>
        <th>Tamanho</th>
        <th>Tipo</th>
        <th>Qtde Estoque</th>
        <th>Preço R$</th>
        <th>Descrição</th>
    </thead>
    <tbody>
   {{#if valor}}
        <tr>
            <td>{{valor.nome}}</td>
            <td>{{valor.tamanho}}</td>
            <td>{{valor.tipo}}</td>
            <td>{{valor.quantidadeEstoque}}</td>
            <td>{{valor.precoUnitario}}</td>
            <td>{{valor.descricao}}</td>
        </tr>
    {{/if}}
    </tbody>
</table>
<br>
<h2>Atualização da Camisa</h2>
<br>
<form action="/editarCamisa" method="post">
    <label for="nome">Novo Nome da Camisa:</label><br>
    <input type="text" name="nome" placeholder="nome da camisa"><br>
    <label for="tamanho">Tamanho do Produto:</label><br>
    <input type="text" name="tamanho" placeholder="M"><br>
    <label for="tipo">Tipo da Camisa:</label><br>
    <input type="text" name="tipo" placeholder="masculino"><br>
    <label for="quantidadeEstoque">Quantidade da Camisa:</label><br>
    <input type="text" name="quantidadeEstoque" placeholder="quantidade"><br>
    <label for="precoUnitario">Preço unitário da Camisa:</label><br>
    <input type="text" name="precoUnitario" placeholder="unitário"><br>
    <label for="descricao">Descrição da Camisa:</label><br>
    <input type="text" name="descricao" placeholder="Descrição"><br>
    <br><br>
    <button type="submit">Enviar</button>
</form>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 